
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>VigTech - Lucene IR</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
       <servlet-name>luceneir</servlet-name>
       <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>edu.univalle.vigtech_ir.api.JerseyApplication</param-value>
        </init-param>     
        <init-param>
           <param-name>jersey.config.server.provider.packages</param-name>
         <param-value>edu.univalle.vigtech_ir</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
       <servlet-name>luceneir</servlet-name>
       <url-pattern>/indexes/*</url-pattern>
    </servlet-mapping>

</web-app>

